
<f:layout name="Default" />
<f:section name="main">
<f:flashMessages />

<div class="golfCourses">
	<p>I have played {coursesCount} courses in total, in {countriesCount} countries. The complete list can be seen below.</p>
	<div id="map"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{f:uri.resource(path: 'JavaScript/GoogleMaps.js')}"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key={mapsApiKey}&callback=initMap"></script>

	<f:for each="{countryAndCourses}" as="country">
		<h3>{country.name} ({country.coursesPlayed})</h3>
		<ul>
			<f:for each="{country.courses}" as="golfCourse">
				<li class="golfCourse"><a href="{golfCourse.website}" title="{golfCourse.name}">{golfCourse.name}</a> <span style="font-size: 12px">{golfCourse.comment}</span></li>
			</f:for>
		</ul>
	</f:for>
</div>
</f:section>
