
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for GolfCourse</h1>

<f:flashMessages />

<table  class="tx_golfcourses" >
	<tr>
		<th><f:translate key="tx_golfcourses_domain_model_golfcourse.name" /></th>
		<th><f:translate key="tx_golfcourses_domain_model_golfcourse.website" /></th>
		<th><f:translate key="tx_golfcourses_domain_model_golfcourse.comment" /></th>
		<th><f:translate key="tx_golfcourses_domain_model_golfcourse.country" /></th>
		<th><f:translate key="tx_golfcourses_domain_model_golfcourse.logo" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{golfCourses}" as="golfCourse">
		<tr>
			<td><f:link.action action="show" arguments="{golfCourse : golfCourse}"> {golfCourse.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{golfCourse : golfCourse}"> {golfCourse.website}</f:link.action></td>
			<td><f:link.action action="show" arguments="{golfCourse : golfCourse}"> {golfCourse.comment}</f:link.action></td>
			<td><f:link.action action="show" arguments="{golfCourse : golfCourse}"> {golfCourse.country}</f:link.action></td>
			<td><f:link.action action="show" arguments="{golfCourse : golfCourse}"> {golfCourse.logo.originalResource.name}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{golfCourse : golfCourse}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{golfCourse : golfCourse}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New GolfCourse</f:link.action>
</f:section>